/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.log

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# project ignore
source/social-networking-api/application-production.properties
source/social-networking-api/deploy_ec2.sh
source/social-networking-api/execute_jar_on_vm.sh
source/social-networking-api/target
source/social-networking-api/logs
source/social-networking-api/.idea
source/social-networking-api/*.iml

# .env file
*.env